*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
navbar{
    background-color: white;
}
.nav-links{
    color:black;
    font-size:1rem;
    font-weight:700;
    cursor:pointer;
    text-decoration: none;
}
.nav-link:hover{
    color:white;
    background-color: black;
}
.navbar-brand{
    font-size: 1.25rem;
    font-weight:800;
    color:black;
    cursor: pointer;
    text-decoration: none;
}
/*Main section */

.main{
    background:url(./upexec-105.jpg)no-repeat;
    background-size: cover;
    width:100%;
    height:100vh;
}

.main h3{
    font-size:4.44rem;
    font-weight:700;
}