*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
navbar{
    background-color: white;
}
.nav-links{
    color:black;
    font-size:1rem;
    font-weight:700;
    cursor:pointer;
    text-decoration: none;
}
.nav-link:hover{
    color:white;
    background-color: black;
}
.navbar-brand{
    font-size: 1.25rem;
    font-weight:800;
    color:black;
    cursor: pointer;
    text-decoration: none;
}
/*Main section */
@media (max-width:700px){
    .main{
        background:url("./upexec-105.jpg") no-repeat  center center;
        background-size:cover;
        object-fit:scale-down;
        width:auto;
        height:auto;
        max-height: 2500px;
        max-width:1667px;
        
    }
}
@media (min-width:701px){
    .main{
        background:transparent url("./profileinvisible.png") no-repeat  center center;
        background-size:contain;
        background-position:right;
        margin: 50px;
        max-width: 1667px;
        background-color: #BBBABA;
        
    }
}
/*
.main{
    overflow-y: hidden;
    background:url("./upexec-105.jpg") no-repeat  center center;
    background-size:cover;
    object-fit:scale-down;
    width:auto;
    height:auto;
    max-height: 2500px;
    max-width:1667px;
    
}
*/

.main h3{
    font-size:4.44rem;
    font-weight:700;
}
.main h6{
    font-size:1.4rem;
    text-transform: uppercase;
    line-height:1;
    border-bottom:3px solid ;
    width:40%;
}